html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
}

#ToTooTool {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-direction: column;
}

nav {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;
}

.navbar {
    width: 100%;
    margin-bottom: 0px;
}

#mainBody {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer {
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    background-color: #4F90D2;
}

footer a, footer a:hover, footer a:visited, footer a:active {
    color: #FFFFFF;
}

a, a:hover, a:visited, a.active, a:link {
    text-decoration: none;
}

.desktopForce {
    min-width: 800px;
}

.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}

/* 去掉数字输入框的加减号 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;;
    margin: 0;
}